<div class="profile">
  <div class="profile__backlink">
    {{> Link link='chatlist' class='btn__circle'}}
  </div>
  <div class="profile__container">
    <div class="profile__inner">
      <div class="profile__avatar">
        <div class="profile__avatar-img">
          <div class="profile__avatar-no"></div>
          <div class="profile__avatar-change">Поменять аватар</div>
          <div class="hidden">
            <form action=""><input type="file" name="avatar"></form>
          </div>
        </div>
        {{#if (checkIfEqual profileState 'profile')}}
        <div class="profile__name-title">Иван</div>
        {{/if}}
      </div>
      {{#if (checkIfNotEqual profileState 'profile')}}
      <form action="" id="form-{{profileState}}">
      {{/if}}
      <div class="profile__body">
      {{#if (checkIfEqual profileState 'profile')}}
        {{#each data}}
          {{#if (checkIfEqual type 'text')}}
            {{> ProfileRow label=label value=value }}
          {{/if}}
        {{/each}}
      {{/if}}
      {{#if (checkIfEqual profileState 'profile-edit')}}
        {{#each data}}
          {{#if (checkIfEqual type 'text')}}
            {{> ProfileRowEdit label=label value=value name=name }}
          {{/if}}
        {{/each}}
      {{/if}}
      {{#if (checkIfEqual profileState 'profile-pasword')}}
        {{> ProfileRowEdit type="password" label="Старый пароль" value=value name="oldPassword" }}
        {{> ProfileRowEdit type="password" label="Новый пароль" value=value name="newPassword" }}
        {{> ProfileRowEdit type="password" label="Повторите новый пароль" value=value name="checkPassword" }}
      {{/if}}
      </div>
      {{#if (checkIfEqual profileState 'profile')}}
      <div class="profile__buttons">
        <div class="profile__buttons-elements">
          {{> Link link='profile-edit' text='Изменить данные' class='profile__link'}}
        </div>
        <div class="profile__buttons-elements">
          {{> Link link='profile-pasword' text='Изменить пароль' class='profile__link'}}
        </div>
        <div class="profile__buttons-elements">
          {{> Link link='chatlist' text='Выйти' class='profile__link c-red'}}
        </div>
      </div>
      {{/if}}
      {{#if (checkIfNotEqual profileState 'profile')}}
      <div class="profile__single-button">
        {{> Button id='profile-submit' text='Сохранить' class='btn' link='profile'}}
      </div>
      </form>
      {{/if}}
    </div>
  </div>
</div>
